<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOT Marcin</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- flask implementation in HTML  -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css' )}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/chat.js' )}}">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <script src="../static/js/chat.js"></script>

</head>
<div class="wrapper">
    <section class="chat-area">
        <header>
            <img src="#" alt="">
            <div class="details">
                <span>Bot Marcin</span>
                <p>Aktywny</p>
            </div>
        </header>
        <div class="chat-box">
            <div class="chat outgoing">
                <div class="details" id="userInput">

                </div>
            </div>
            <div class="chat incoming">
                <div class="details">
                    <p>Test tej wiadomości pokaze jej przyszly wygląd na stronie</p>
                </div>
            </div>
        </div>
        <form action="#" class="typing-area" autocomplete="off">

            <input type="text" class="inputMessage" id="inputMessage" name="inputMessage"
                placeholder="Wyślij wiadomość">

            <button class="button" onclick="buttonClick()"><i id="telegram" class="fab fa-telegram-plane"></i></button>
        </form>
    </section>
</div>



<body>

</body>

</html>